
{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Produkter og tjenester</h1>

<!-- Example row of columns -->

<div class="row">
  <div class="col-lg-4">
    <h2>Enkel Websidepakke</h2>
    <p>Inneholder webside med enkel design, domenenavn og hosting samt muligheter for videreutvikling</p>
    <p><a class="btn btn-success btn-lg" href="#" role="button">Kjøp kr 5000</a></p>
  </div>
  
  <div class="col-lg-4">
    <h2>Konsultasjon</h2>
    <p>Vi tar en prat og finner ut av dine behov</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Avtal tidspunkt </a></p>
  </div>
<div class="col-lg-4">
    <h2>Andre oppdrag</h2>
    <p></p>
    <p><a class="btn btn-warning btn-lg" href="#" role="button">Forespør pris</a></p>
  </div>
</div>
</div>
{% endblock content %}